body {
    background-color:burlywood;
    justify-items: center;
}

h1 {
    background-color:rgb(245, 245, 220, 0.7);
    color: cadetblue;
    border: 6px solid lightcoral;
    /* opacity: 0.5; */
}

h2 {
    background-color: rgb(139, 0, 139, 0.6);
    color: lightskyblue;
    border: 4px solid darkblue;
    /* opacity: 0.5; */

}

p {
    background-color:rgb(255, 192, 203, 0.4);
    color: hotpink;
    border: 3px solid purple;
    /* opacity: 0.5; */
}

