body{
    background-color: mediumseagreen;
    color: #fff;
}

.ex1{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: bisque;
}

.ex2{
    text-shadow: 150px 0px rgb(179, 85, 182);
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: crimson;
}

.ex3{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: darkmagenta;
}

