body{
    background-color: cadetblue;
}

.ex1{
    outline-style: solid;
    outline-width: 10px;
    outline-color: steelblue;
    outline-offset: 10px;
    width: 400px;
    margin: 30px auto;
    border: 3px solid black;
    background-color: mediumslateblue;
}