body{
    background-color: indianred;
}

.ex1{
    justify-content: center;
    display: flex;
    gap: 30px;
    background-color: lightcoral;
}

.ex1 div{
    width: 100px;
    height: 100px;
    background-color:brown;
    align-content: center;
    text-align: center;
    color: #fff;
}

@media (max-width: 700px){
    .ex1{
        align-items: center;
        flex-direction: column;
    }
}