body {
    background-color: mediumpurple;

}

.ex1 {
    background-color: darkcyan;
    width: 200px;
    margin: 40px 100px;
}

.ex2 {
    width: 250px;
    background-color: white;
    margin: 100px auto;
}