body {
    background-color: coral;
}

.bx-youtube {
    color: blue;
}

.bx-shopify{
    color: darkgoldenrod;
}

.bx-bun{
    color: crimson;
    font-size: 200px;
}

.bx-instagram-alt{
    color: gold;
    font-size: 50px;
}