body {
    background-color: lemonchiffon;
}

.link:link {
    color: black;
    background-color: aqua;
}

.link:visited {
    color: coral;
    background-color: red;
}

.link:hover {
    color: deeppink;
    background-color: white;
}

.link:active {
    color: chartreuse;
    background-color: black;
}

a {
    text-decoration: none;
}

 * {
    cursor: url('../img/duck.svg'), auto;
}

.link.btn:link , .link-btn:visited {
    /* background-color: cornflowerblue; */
    background-color: transparent;
    border: 3px solid midnightblue;
    color: mediumpurple;
    padding:20px 80px ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.link-btn:hover, .link-btn:active {
    background-color: midnightblue ;
    color: white;
    border: 3px solid lightseagreen;
    transition: .5s;
}